/*body {
    background: #9A98B5;
}

.navbar {
    border-radius:0;
    background: #59118E;
}

.navbar-brand {
    font-family:'Montserrat';
}

.navbar-inverse .navbar-brand {
    color: #A5F8D3;
}

.list-group-item {
    margin-bottom: 6px;
}

.venue {
    font: bold;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
}
*/
